.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-image-1 {
  height: 672px;
  --top-left-radius: 200px;
  --bottom-right-radius: 200px;
  margin-top: 104px;
  margin-bottom: 0;
  object-position: 50% 79.32%;
  filter: brightness(0.35);
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.12;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Agbalumo;
  margin: -289px 385px 0 -385px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 343px 0 -343px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  margin: 24px auto 60px 71px;
  padding: 20px 54px 21px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 162px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -542px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    --top-left-radius: 100px;
    --bottom-right-radius: 100px;
    margin-top: 149px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -529px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    --top-left-radius: 70px;
    --bottom-right-radius: 70px;
    margin-top: 135px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -515px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 494px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 58px auto 0;
}

.u-section-2 .u-accordion-1 {
  margin: 42px auto 41px;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  background-image: none;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  background-image: none;
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  font-weight: 700;
  background-image: none;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 888px;
}

.u-section-3 .u-group-1 {
  width: 718px;
  min-height: 699px;
  height: auto;
  --top-right-radius: 50px;
  --bottom-left-radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 60px 0;
}

.u-section-3 .u-form-1 {
  height: 394px;
  width: 584px;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  --radius: 50px;
  width: 100%;
  padding: 22px 0 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-form-1 {
    width: 283px;
    margin-right: 8px;
    margin-left: 0;
  }
}